<div class="row" *ngIf="user">
  <div class="col-md-8">
    Bienvenido {{ user.username }}
  </div>
  <div class="col-md-4">

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">CURRICULUM VITAE
          <i class="fa fa-check" [ngClass]="user.cv.fullRoot ? 'cGreen' : 'cRed'"></i>
        </h5>
        <h6 class="card-subtitule mb-2 text-muted" *ngIf="!user.cv.fullRoot"> Todavía no subiste tu CV! Subilo!</h6>
        <h6 class="card-subtitule mb-2 text-muted" *ngIf="user.cv.fullRoot"> Queres actualizar tu CV?</h6>
        <br>
        <input type="file" #file (change)="upload(file.files)">
      </div>
    </div>


    <div>
      <!-- <span style="font-weight:bold;color:green;" *ngIf="progress > 0 && progress < 100">
      {{progress}}%
    </span>
    <span style="font-weight:bold;color:green;" *ngIf="message">
      {{message}}
    </span> -->
    </div>
  </div>

  <label>PDF src</label>
  <input type="text" placeholder="PDF src" [(ngModel)]="pdfSrc">
</div>
<pdf-viewer [src]="pdfSrc" [render-text]="true" style="display: block;">

</pdf-viewer>