<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Buscar</h1>
      <div class="form-inline">
      <input type="text" class="form-control" #busqueda class="col-md-6" placeholder="Que queres buscar?"> 
      <button class="btn btn-success col-md-2" (click)="buscarJob(busqueda.value)"> Buscar </button>
    </div>
  </div>
  </div>