<div class="row">

  <div *ngIf="this.publicaciones?.length == 0"> No tenes ofertas publicadas!</div>

  <div class="col-md-3 float-left" *ngIf="this.publicaciones?.length > 0">
      <h3 >Publicaciones <span class="badge badge-secondary">{{ publicaciones?.length || 0}}</span></h3>
      <hr>
      <ul class="list-group mb-5" *ngFor="let pub of publicaciones" >
          <li [routerLink]="['/panel', pub.id]" routerLinkActive="active" class="list-group-item d-flex justify-content-between align-items-center pointer" >
            {{pub.puesto}}
            <span class="badge badge-primary badge-pill">{{pub.postulaciones?.length}}</span>
          </li>
        </ul>
  </div>

  <div class="col-md-8 ">
    <router-outlet></router-outlet>
  </div>

</div>