<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"> FCE jobs</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/home']">Inicio
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/resultados']"> Publicaciones </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link"  [routerLink]="['/nuevaoferta']"> Publicar Oferta </a>
      </li>
    </ul>

    <div *ngIf="!loggedIn()">
      <span class="navbar-text loginTxt floatLeft pointer" [routerLink]="['/login']">
        Login
      </span>
      <span class="nav-item floatLeft">
        <button class="btn btn-registro nav-link" [routerLink]="['/registro']"> Registrate! </button>
      </span>
    </div>

    <ul  *ngIf="loggedIn()" class="nav navbar-nav navbar navbar-right">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Hola {{ _authService.username }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/panel']" >Ir Panel</a>
          <a class="dropdown-item" *ngIf="_authService.isAdmin()" [routerLink]="['/admin']" >Admin</a>
          <a class="dropdown-item" [routerLink]="['/tucv']" >Tu CV!</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"  (click)="logout()" >Cerrar sesión</a>
        </div>
      </li>
    </ul>



  </div>
</nav>