
<form ngValidateNative [formGroup]="formRegister"  (ngSubmit)="registarUsuario(formRegister)">
  <div class="form-group">
    <label for="Usuario">Usuario:</label>
    <input type="text" class="form-control" formControlName="username" name="username" id="username"  placeholder="Ingresar usuario" required>
    <div *ngIf="f.username.errors?.required">El usuario es requerido</div>
  </div>
  <div class="form-group">
    <label for="Email">Email:</label>
    <input type="email" class="form-control" formControlName="email" name="email" id="email"  placeholder="Ingresar email" required>
    <div *ngIf="f.email.errors?.required">El email es requerido</div>
  </div>
  <div class="form-group">
    <label for="contraseña">Contraseña:</label>
    <input type="password" class="form-control" formControlName="password" name="password" id="contraseña" placeholder="Password" required>
    <div *ngIf="f.password.errors?.required">La password es requerida</div>
    <div *ngIf="f.password.errors?.minlength">Password must be at least 4 characters</div>
  </div>
  <div class="form-group">
    <label for="contraseña">Repetir Contraseña:</label>
    <input type="password" class="form-control" formControlName="password2" name="password2" id="contraseña2" placeholder="Repetir Password" required>
    <div *ngIf="f.password.errors?.required">La password es requerida</div>
    <div *ngIf="f.password.value != f.password2.value">La password no es la misma.</div>
  </div>
  <button type="submit" class="btn btn-primary" >Registrarse!</button>
</form>