/* You can add global styles to this file, and also import other style files */

.btn-registro {
    background-color: #33cabb;
    color: white;
}

.pointer {
    cursor: pointer;
}

.loginTxt {
    padding: 10px;
}

.top40 {
    margin-top: 80px;
}

.bot40 {
    margin-bottom: 80px;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.mright10 {
    margin-right: 10px;
}

.swal-modal {
    background-color: rgba(63, 255, 106, 0.69);
    border: 3px solid white;
}

.ml10 {
    margin-left: 10px;
}

.mr10 {
    margin-right: 10px;
}

.pubClass {
    margin-bottom: 20px;
}

.pubContainer {
    padding: px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.float-right {
    float:right;
}
.filtrosAplicados {
    padding: 5px;
    margin: 5px;
    display: inline-block;
}

.filtroSpan {
    padding: 5px;
    margin-right: 5px;
}

.cGreen {
    color: green;
    float:right;
}

.cRed {
    color:red;
    float:right;
}