<div class="row">
  <div class="col-md-12">

    <div class="button-group">
      <button class="btn btn-outline-success mr10" (click)="cargarData(true)">
        <i class="fa fa-thumbs-up"></i> En espera </button>
      <button class="btn btn-outline-danger" (click)="cargarData(false)">
        <i class="fa fa-thumbs-down"></i> Aprobados </button>
    </div>
  </div>
</div>

<div class="row t40">
  <div class="col-md-12">

  <div class="row">
    <div class="col-md-12">
      <h1> Publicaciones </h1>
    </div>
  </div>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
    
          <th scope="col">User</th>
          <th scope="col">Contacto</th>
          <th scope="col">Puesto</th>
          <th scope="col">Empresa</th>
          <th scope="col">Descripcion</th>
          <th scope="col">Salario</th>
          <th scope="col">Fecha</th>
          <th scope="col"> Aprobar / Desaprobar </th>
    
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of publicaciones">
          <th scope="row">{{item.id}}</th>
          <th scope="row">{{ item.user}}</th>
          <th scope="row">{{ item.contacto}}</th>
          <th scope="row">{{ item.puesto}}</th>
          <th scope="row">{{ item.empresa}}</th>
          <th scope="row">{{ item.descripcion.substring(0,150) }}
            <span class="btn-outline-success pointer" *ngIf="item.descripcion.length > 150" (click)="openDescription(item.descripcion)">
            Ver mas...</span>
          </th>
          <th scope="row">{{ item.salario }}</th>
          <th scope="row">{{ item.fecha }}</th>
          <th scope="row">
            <!-- <input type="checkbox" value="{{item.aprobado}}"> -->
            <button class="btn btn-success" (click)="aprobar(item)" *ngIf="!item.aprobado">
              <i class="fas fa-thumbs-up"></i> Aprobar</button>
            <button class="btn btn-danger" (click)="aprobar(item)" *ngIf="item.aprobado">
              <i class="fas fa-thumbs-down"></i> Desaprobar</button>
          </th>
    
    
        </tr>
      </tbody>
    </table>
  </div>
</div>
