<div class="card text-center col-12">
  <div class="card-header">
    {{ oferta?.empresa }}
  </div>
  <div class="card-body">
    <h4 class="card-title">{{ oferta?.puesto }}</h4>
    <pre class="card-text">{{ oferta?.descripcion }}</pre>
    <button [disabled]="!user" class="btn btn-primary" (click)="postular()">Postularse!</button>
  </div>
  <div class="card-footer text-muted">
    {{ oferta?.fecha | dateDifference  }}
  </div>
</div>