
  <div class="row">
    <div class="col-md-12">
      <div class="filtrosAplicados">
        <span (click)="filter.carrera = null; loadItems()" *ngIf="filter.carrera" class="badge badge-pill badge-primary filtroSpan">{{ filter.carrera}}</span>
        <span (click)="filter.jornada = null; loadItems()" *ngIf="filter.jornada" class="badge badge-pill badge-info filtroSpan">{{ filter.jornada}}</span>
        <span (click)="filter.fecha = null; loadItems()"  *ngIf="filter.fecha" class="badge badge-pill badge-dark filtroSpan">{{ filter.fecha}}</span>
      </div>
    </div>
  </div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="list-group mb-10">
        <a href="#" class="list-group-item list-group-item-action active">
          Carrera
        </a>
        <li (click)="filterData('carrera', 'Actuarío')" class="list-group-item list-group-item-action">Actuarío</li>
        <li (click)="filterData('carrera', 'Administración')" class="list-group-item list-group-item-action">Administración</li>
        <li (click)="filterData('carrera', 'Contador')" class="list-group-item list-group-item-action">Contador</li>
        <li (click)="filterData('carrera', 'Economía')" class="list-group-item list-group-item-action">Economía</li>
        <li (click)="filterData('carrera', 'Sistemas')" class="list-group-item list-group-item-action">Sistemas</li>
      </div>

      <div class="list-group mb-10">
        <a href="#" class="list-group-item list-group-item-action active">
          Jornada
        </a>
        <li (click)="filterData('jornada', 'Part Time')" class="list-group-item list-group-item-action">Part-Time</li>
        <li (click)="filterData('jornada', 'Jornada Reducida')" class="list-group-item list-group-item-action">Jornada Reducida</li>
        <li (click)="filterData('jornada', 'Full Time')" class="list-group-item list-group-item-action">Full-Time</li>
        <!-- <li (click)="filterData('jornada', 'Full Time')" class="list-group-item list-group-item-action">Freelance</li> -->
      </div>

      <div class="list-group mb-10">
        <a href="#" class="list-group-item list-group-item-action active">
          Fecha de Publicación
        </a>
        <li (click)="filterData('fecha', 'Hoy')" class="list-group-item list-group-item-action">Hoy</li>
        <li (click)="filterData('fecha', 'Ayer')" class="list-group-item list-group-item-action">Ayer</li>
        <li (click)="filterData('fecha', 'Semana')" class="list-group-item list-group-item-action">Esta semana</li>
        <li (click)="filterData('fecha', 'Mes')" class="list-group-item list-group-item-action">Este Mes</li>
      </div>
    </div>

    <div class="col-md-9" *ngIf="resultados?.length == 0">
      <h3> No se encontraron resultados ...</h3>
    </div>
    <div class="col-md-9" *ngIf="resultados?.length > 0">
      <div *ngFor="let item of resultados" class="col-md-11 pubClass">
        <div class="card">
          <div class="card-header">
            <h6>{{ item.puesto }} - {{ item.jornada}} </h6>
          </div>

          <div class="card-block pubContainer">
            <h6 class="card-title">{{ item.empresa}}</h6>
            <p class="card-text">{{ item.descripcion.length > 150 ? item.descripcion.substring(0,150) + '...' : item.descripcion }}</p>
            <hr>
            <a [routerLink]="['/detalle', item.id]" class="btn btn-primary"> Ir al aviso </a>
            <p class="float-right"> {{ item.fecha | dateDifference }} </p>
          </div>
        </div>
      </div>

      <pagination *ngIf="isLoad" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage" [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)">
      </pagination>
    </div>

  </div>
</div>