<div class="container" *ngIf="isLogged">
  <form ngNativeValidate [formGroup]="formOferta" (ngSubmit)="registrarOferta(formOferta)">
    <div class="form-group">
      <label> Puesto </label>
      <input type="text" formControlName="puesto" name="puesto" class="form-control col-md-8" required placeholder="" />
    </div>

    <div class="form-group">
      <label> Empresa </label>
      <input type="text" formControlName="empresa" name="empresa" class="form-control col-md-8" required placeholder="Ingresa nombre de la empresa..."
      />
    </div>
    <div class="form-group">
      <label> Localizacion </label>
      <input type="text" formControlName="localizacion" name="localizacion" class="form-control col-md-8" required placeholder=""
      />
    </div>

    <div class="form-inline">
      <div class="form-group ">
        <label> Salario </label>
        <select required class="form-control ml-2" formControlName="salario" name="salario">
          <option> $5000 - $8000</option>
          <option> $8000 - $11000 </option>
          <option> $11000 - $15000</option>
          <option> $15000 - $18000</option>
          <option>$18000 - $22000</option>
          <option>$22000 - $26000</option>
          <option>$26000 - más</option>
        </select>
      </div>

      <div class="form-inline">
        <div class="form-group  offset-md-3">
          <label> Carrera </label>
          <select required class="form-control ml-2 " formControlName="carrera" name="carrera">
            <option>Administración</option>
            <option>Actuario</option>
            <option>Contador</option>
            <option>Economía</option>
            <option>Sistemas</option>
          </select>
        </div>
      </div>

      <div class="form-group offset-md-3">
        <label> Jornada </label>
        <select class="form-control ml-2" formControlName="jornada" name="jornada" required>
          <option> Part Time </option>
          <option> Jornada Reducida</option>
          <option> Full Time</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label> Descripcion </label>
      <textarea type="text" class="form-control" rows="6" formControlName="descripcion" name="descripcion" required> </textarea>
    </div>

    <div class="form-group">
      <label> Contacto </label>
      <input type="email" class="form-control" formControlName="contacto" name="contacto" required />
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-success text-center"> Crear </button>
    </div>

    <hr>

  </form>
</div>