<form ngValidateNative [formGroup]="formLogin"  (ngSubmit)="loguearUsuario(formLogin)">
    <div class="form-group">
      <label for="Usuario">Usuario:</label>
      <input type="text" class="form-control" formControlName="usuario" name="usuario" id="usuario"  placeholder="Ingresar usuario" required>
    </div>
    <div class="form-group">
      <label for="contraseña">Contraseña:</label>
      <input type="password" class="form-control" formControlName="password" name="password" id="contraseña" placeholder="Password" required>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Recordar usuario</label>
    </div>
  

    <button type="submit" class="btn btn-primary">Ingresar</button>
  </form>