<table class="table" *ngIf="postus?.length > 0 && isLoad === true">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Usuario</th>
      <th scope="col"> Contacto </th>
      <th scope="col"> CV </th>
      <th scope="col"> Rechazar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of postus">
      <th scope="row">{{ item.id}}</th>
      <td>{{ item.user}}</td>
      <td>{{item.username?.email}}</td>
      <td>
        <button class="btn btn-primary mright10"> Ver </button>
     
        <a class="btn btn-outline-primary" target="_blank" [href]="getUrlSafe(item.username?.cv?.fullRoot)">
         <i class="fa fa-download"></i> 
        </a>
      </td>
      <td>
          <button class="btn btn-danger" (click)="rechazar(item.user)"> <i class="fa fa-times-circle"></i></button>
      </td>
    </tr>
  </tbody>
</table>